{% extends 'base.html' %}

{% block title %}
    Clientes
{% endblock title %}
    

{% block contenido %}
    {% include 'includes/header.html' %}
    <div class="container">
        <div class="row m-2">
            <div class="col">
                <h1>Lista de clientes</h1>
            </div>
            <div class="col-2">
                <a class="btn btn-success" href="{% url 'cliente_app:add_cliente' %}">
                    <i class="fa fa-plus"></i> Agregar
                </a>
            </div>
        </div>
        <!-- INICIO LISTA-->
        <table class="table default">
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Email</th>
              <th>Telefono</th>
              <th>Accion</th>
            </tr>
            {% for c in Clientes %}
            <tr>  
                <td>{{c.id}}</td>
                <td>{{c.first_name}}</td>
                <td>{{c.last_name}}</td>
                <td>{{c.email}}</td>
                <td>{{c.telefono}}</td>
                <td>
                    <a class="btn btn-danger" href="{% url 'empleado_app:delete_job' c.id %}"><i class="fa-solid fa-trash-can"></i> Delete</a>
                    <a class="btn btn-warning" href="{% url 'empleado_app:update_empleado' c.id %}">
                        <i class="fa-solid fa-pencil"></i> Edit
                    </a>
                    <a class="btn btn-success" href="{% url 'empleado_app:detail_empleado' c.id %}">
                        <i class="fa-solid fa-eye"></i> Ver
                    </a>
                </td>
            </tr>
            {% endfor %}
          
        </table>
        <!--FIN LISTA-->
    </div>
{% endblock contenido %}
    